
*.Release
*.o
*.exe
ui_profiledialog.h
ui_notelistdialog.h
ui_notedialog.h
ui_mainwindow.h
ui_logindialog.h
ui_calendardialog.h
ui_calendareventdialog.h
release/moc_profiledialog.cpp
release/moc_predefs.h
release/moc_notelistdialog.cpp
release/moc_notedialog.cpp
release/moc_mainwindow.cpp
release/moc_logindialog.cpp
release/moc_credentialsgateway.cpp
release/moc_calendareventdialog.cpp
release/moc_calendardialog.cpp
object_script.IdealPDA_Windows.Debug
Makefile.Debug
Makefile
deepclass/deeperclass.h
deepclass/deeperclass.cpp
deepclass/deepclass.h
deepclass/deepclass.cpp
