
*.Release
*.o
*.exe
ui_profiledialog.h
ui_notelistdialog.h
ui_notedialog.h
ui_mainwindow.h
ui_logindialog.h
ui_calendardialog.h
ui_calendareventdialog.h
release/moc_profiledialog.cpp
release/moc_predefs.h
release/moc_notelistdialog.cpp
release/moc_notedialog.cpp
release/moc_mainwindow.cpp
release/moc_logindialog.cpp
release/moc_credentialsgateway.cpp
release/moc_calendareventdialog.cpp
release/moc_calendardialog.cpp
object_script.IdealPDA_Windows.Debug
Makefile.Debug
Makefile
deepclass/deeperclass.h
deepclass/deeperclass.cpp
deepclass/deepclass.h
deepclass/deepclass.cpp
debug/moc_calendareventdialog.cpp
debug/moc_calendardialog.cpp
debug/moc_credentialsgateway.cpp
debug/moc_logindialog.cpp
debug/moc_mainwindow.cpp
debug/moc_notedialog.cpp
debug/moc_notelistdialog.cpp
debug/moc_predefs.h
debug/moc_profiledialog.cpp
debug/moc_weatherdatacaller.cpp
debug/moc_weatherdialog.cpp
ui_weatherdialog.h
IdealPDA_Windows.pro.user
IdealPDA_Windows.pro.user
debug/moc_calendarpushbutton.cpp
debug/moc_networkgateway.cpp
*.jpg
debug/qrc_Resources.cpp
SyNet.qss
